@import url('../../../../vars.modules.css');

.drawer {
  border-radius: 0;
  box-shadow: none;
}


@media (--breakpoint-s) {
  .drawer {
    min-inline-size: var(--drawer-width);
    border-inline-start: 1px solid var(--color-border-secondary) !important;
  }
}
