.AppBarBody {
  border-radius: var(--border-radius-s);
  padding: var(--spacing-xs);
  overflow-y: scroll;
  scrollbar-width: none;
  flex-grow: 0;
  block-size: 100%;
}

.AppBarBody::-webkit-scrollbar {
  display: none;
}
