.dayEvents {
  min-block-size: 64px;
  display: flex;
  gap: var(--spacing-3xs);
  flex-direction: column;
  align-items: flex-start;
}

.dayEvent {
  box-sizing: border-box;
  inline-size: 100%;
  white-space: nowrap;
}
