.doc {
  inline-size: 100%;
  overflow-x: hidden;

  :global(img) {
    max-inline-size: 100%;
    border-radius: var(--border-radius-l);
  }

  :global(*:first-child) {
    margin-block-start: 0 !important;
  }

  :global(*:last-child) {
    margin-block-end: 0 !important;
  }

  :global(h1:not(.unstyled h1)) {
    font: var(--typography-heading-2xl-font);
    color: var(--color-content-primary);
    margin-block-end: var(--spacing-m);
    padding: 0;
    border: none;
  }

  :global(h2:not(.unstyled h2)) {
    font: var(--typography-heading-xl-font);
    color: var(--color-content-primary);
    margin-block: var(--spacing-xl) var(--spacing-m);
    padding: 0;
    border: none;
  }

  :global(h3:not(.unstyled h3)) {
    font: var(--typography-text-l_1-font);
    color: var(--color-content-primary);
    margin-block: var(--spacing-m) var(--spacing-m);
    padding: 0;
    border: none;
  }

  :global(p:not(.unstyled p)) {
    font: var(--typography-text-m-font);
    color: var(--color-content-primary);
    margin-block: var(--spacing-m) var(--spacing-m);
    padding: 0;
    border: none;
  }

  :global(strong:not(.unstyled strong)) {
    font: var(--typography-text-m_1-font);
    color: var(--color-content-primary);
    display: inline;
  }

  :global(ul:not(.unstyled ul)) {
    margin-block: var(--spacing-m) var(--spacing-m);
    padding-inline-start: 28px;
  }

  :global(li:not(.unstyled li)) {
    font: var(--typography-text-m-font);
    margin-block: var(--spacing-xs) var(--spacing-xs);
    display: list-item;
  }

  :global(a:not(.unstyled a)) {
    text-decoration: underline;
    font: var(--typography-text-m-font);
    color: var(--color-content-action);
    border-radius: var(--border-radius-xs);
  }

  :global(code:not(.unstyled code)) {
    margin: 0 2px;
    padding: 3px 5px;
    white-space: nowrap;
    border-radius: var(--border-radius-s);

    border: 1px solid var(--color-background-secondary);
    color: var(--color-content-secondary);
    background-color: var(--color-background-primary);
    font-size: 14px;
    line-height: 1.5;
    font-family: Consolas, "Liberation Mono", Menlo, monospace;
      }

  :global(kbd:not(.unstyled kbd)) {
    font: var(--typography-text-s-font);
    border-radius: var(--border-radius-xs);
    margin: 0 0.1em;
    padding: 0.1em 0.6em;
    border: 1px solid rgb(204 204 204);
    color: rgb(51 51 51);
    line-height: 1.4;
    font-size: 14px;
    display: inline-block;
    box-shadow: 0 1px 0 rgb(0 0 0 / 20%), inset 0 0 0 2px #fff;
    background-color: rgb(247 247 247);
    text-shadow: 0 1px 0 #fff;
  }
}
