.monthTable {
  table-layout: fixed;
  background-color: transparent;
  --table-caption-padding: 20px;
  --table-header-cell-padding: 20px 12px;
}

.monthTableCell {
  padding: var(--spacing-xs);

  &.today {
    background-color: var(--color-background-primary);
  }
}
