@import url('../../../../vars.modules.css');

main {
  position: relative;
  overflow-y: auto;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.container {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  gap: var(--spacing-xs);
}


@media (--breakpoint-m) {
  .container {
    gap: var(--spacing-m);
  }
}
