.dateIcon {
  background-color: var(--color-background-primary);
  color: var(--color-content-primary);
  padding: var(--spacing-xs);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  inline-size: 28px;
  block-size: 28px;
  flex-direction: column;

  > * {
    line-height: 1em;
  }
}

.active {
  background-color: var(--color-background-action-light);
}
