@import url('../../vars.modules.css');

.login {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  inline-size: 100vw;
  block-size: 100vh;
  background: var(--color-background-main);
}

.id {
  background-image: linear-gradient(
    -225deg,
    #2cd8d5 0%,
    #6b8dd6 48%,
    #8e37d7 100%
  );
  color: var(--color-content-action-on);
  border-radius: 14px;
  padding: 6px 12px;
}

@media (--breakpoint-s) {
  .login {
    background-image: linear-gradient(to top, #dfe9f3 0%, white 100%);
  }

  .dark {
    background-image: linear-gradient(to top, #000 0%, #232323 100%);
  }
}
