@import url('../../vars.modules.css');

.login {
  inline-size: 100vw;
  block-size: 100vh;
  display: flex;
  overflow: auto;
  background: var(--color-background-main);
}

.container {
  margin: auto;
}

.form {
  margin: var(--spacing-m) 0;
}

@media (--breakpoint-s) {
  .login {
    background: var(--color-background-primary);
  }
}
