@import url('../../vars.modules.css');

.login {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  inline-size: 100vw;
  block-size: 100vh;
  background: var(--color-background-main);
}

@media (--breakpoint-s) {
  .login {
    background: var(--color-background-primary);
  }
}
