.img {
  background-image: url("../../assets/abstract-green-blue-paper.jpeg");
  border-radius: var(--border-radius-l);
  background-position: center center;
  object-fit: cover;
  block-size: 230px;
}
