.AppBarHeaderLogo {
  inline-size: 40px;
  block-size: 40px;
  background-color: var(--color-accent-secondary);
  border-radius: var(--border-radius-m);
  display: flex;
  flex-shrink: 0;
  justify-content: center;
  align-items: center;
}
