@import url('../../../../vars.modules.css');

:global(.Drawer) .window {
  min-width: 100%;
  border: none;
  border-radius: 0;
}

@media (--breakpoint-s) {
  :global(.Drawer) .window {
    min-width: var(--drawer-width);
    border-left: 1px solid var(--color-border-secondary);
  }
}

.footer {
  justify-content: center;
}

.item *:first-child {
  flex: 1;
}

.item *:last-child {
  flex: 2;
}
